!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=utf-8"}
    %title Reconnoiter
    - %w(style datepicker colorpicker).each do |css|
      %link{:href => "css/#{css}.css", :rel => 'stylesheet', :type => "text/css"}
    %link{:rel => "icon", :type => "image/vnd.microsoft.icon", :href => "images/favicon.ico"}
    :javascript
      document.domain='#{@domain}';
    - js  = %w(htmlentities json2 jquery-1.3.2.min)
    - js += %w(core sortable slider draggable droppable).map{|j|"jquery-ui-1.7.2/ui/ui.#{j}"}
    - js += %w(flot jeditable.pack cookie treeview treeview.async timers ajaxq-0.0.1 simplemodal).map{|j|"jquery.#{j}"}
    - js += %w(datepicker colorpicker eye utils).map{|j| "eye/#{j}"}
    - js += %w(recon)
    - js.each do |script|
      %script{:src => "js/#{script}.js", :type => "text/javascript"}
    / #{@hostname}
    
    -# color picker
    %link(href="css/colorpicker.css" rel="stylesheet" type="text/css")
    %script(src="js/colorpicker.js" type="text/javascript")
    
    -# Confirm JS and CSS files
    %link(href="css/confirm.css" rel="stylesheet" type="text/css")
    %script(src="js/confirm.js" type="text/javascript")
    /[if lt IE 7]
      %link(href="css/confirm_ie.css" rel="stylesheet" type="text/css" media="screen")
  %body
    #header
      %h1
        %a(href="#")Reconnoiter
      %ul
        %li
          %a(href="https://labs.omniti.com/docs/reconnoiter/") Documentation
        %li
          %a(href="https://labs.omniti.com/trac/reconnoiter/") Support
        %li
          %a(href="#") Username
        %li.xx
          %a(href="#") Logout
    #left
      .accordion
        =partial :worksheet_controls
        =partial :search_controls
    #container
      #content
        #worksheet_controls_panel
          =partial :worksheet_panel
        #graph_controls_panel
          =partial :graph_panel
    %script(src="js/reconui.js" type="text/javascript")
